@page
@model HelloWebModel
@{
}
<h1>HelloWebModel</h1>
<p>@Model.Message the time is @DateTime.Now</p>

<ul>
    <li>
        <p>Name: @Model.Michael._name, Id: @Model.Michael._id, ClassID: @Model.Michael._classId</p>
    </li>
    <li>
        
    </li>
    <li>
        
    </li>
</ul>

